RealTime/NAEG08/IC0097A_B2B_Invoices_SAPECC_App/tags/20200120_1/trunk/IC0092_B2B_Common_Lib/StartFlow.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="StartFlowType">
    	<xsd:sequence>
    		<xsd:element name="Initiater" type="xsd:string"></xsd:element>
    		<xsd:element name="Relay" type="xsd:boolean"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="StartFlow" type="StartFlowType"></xsd:element>
</xsd:schema>