RealTime/NAEG08/IC0097A_B2B_Invoices_SAPECC_App/trunk/IC0097A_B2B_Invoices_SAPECC_Lib/DocuLynx_Invoice.xsd

<?xml version="1.0" encoding="UTF-8"?><!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)--><!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements--><xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="RemoteFiles/org/w3/www/xml/_1998/namespace/xml.xsd"/>
	<xs:element name="docHarborWebApi">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="HitlistRequest"/>
				<xs:element ref="HitlistResponse"/>
				<xs:element ref="DocumentRequest"/>
				<xs:element ref="DocumentResponse"/>
				<xs:element ref="DocumentImport"/>
				<xs:element ref="ReindexRequest"/>
				<xs:element ref="Error"/>
				<xs:element ref="TrackLogin"/>
				<xs:element ref="Message"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="HitlistRequest">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="HitlistQuery"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HitlistQuery">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserName"/>
				<xs:element minOccurs="0" ref="SpecifiedUser"/>
				<xs:element minOccurs="0" ref="CustomerName"/>
				<xs:element minOccurs="0" ref="GroupName"/>
				<xs:element maxOccurs="unbounded" ref="RetrievalName"/>
				<xs:element maxOccurs="unbounded" ref="QueryExpression"/>
				<xs:element ref="SearchMode"/>
				<xs:element ref="GetNoShows"/>
				<xs:element ref="MaxRows"/>
				<xs:element ref="UseDisplayFormat"/>
				<xs:element ref="UseFullDocDescriptor"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="SortBy"/>
				<xs:element minOccurs="0" ref="PrivateData"/>
				<xs:element minOccurs="0" ref="RequestTimeout"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="ConfigSetting"/>
				<xs:element minOccurs="0" ref="RodanID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HitlistResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="HitlistRows"/>
				<xs:element ref="NoRows"/>
				<xs:element ref="Error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserName"/>
				<xs:element minOccurs="0" ref="SpecifiedUser"/>
				<xs:element minOccurs="0" ref="CustomerName"/>
				<xs:element minOccurs="0" ref="GroupName"/>
				<xs:element maxOccurs="unbounded" ref="DocDescriptor"/>
				<xs:element ref="DisplayOption"/>
				<xs:element minOccurs="0" ref="GenerateAnnotations"/>
				<xs:element minOccurs="0" ref="GenerateBookmarks"/>
				<xs:element minOccurs="0" ref="Linearize"/>
				<xs:element minOccurs="0" ref="UsePreprintedForm"/>
				<xs:element minOccurs="0" ref="AcrobatVersion"/>
				<xs:element minOccurs="0" ref="AuditText"/>
				<xs:element minOccurs="0" ref="PrivateData"/>
				<xs:element minOccurs="0" ref="RequestTimeout"/>
				<xs:element minOccurs="0" ref="ReturnFilename"/>
				<xs:element minOccurs="0" ref="RodanID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentResponse">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element minOccurs="0" ref="VirtualPath"/>
					<xs:element ref="FileName"/>
					<xs:element minOccurs="0" ref="FileSizeBytes"/>
				</xs:sequence>
				<xs:element ref="ReindexResponse"/>
				<xs:element ref="Success"/>
				<xs:element ref="Error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentImport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserName"/>
				<xs:element minOccurs="0" ref="SpecifiedUser"/>
				<xs:element minOccurs="0" ref="CustomerName"/>
				<xs:element minOccurs="0" ref="GroupName"/>
				<xs:element ref="RetrievalName"/>
				<xs:element maxOccurs="unbounded" ref="DocImportIndexValue"/>
				<xs:element ref="DocumentLength"/>
				<xs:element minOccurs="0" ref="RequestTimeout"/>
				<xs:element minOccurs="0" ref="FileName"/>
				<xs:element minOccurs="0" ref="ContentType"/>
				<xs:element minOccurs="0" ref="ConvertTiffToPDF"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReindexRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserName"/>
				<xs:element minOccurs="0" ref="SpecifiedUser"/>
				<xs:element minOccurs="0" ref="CustomerName"/>
				<xs:element minOccurs="0" ref="GroupName"/>
				<xs:element maxOccurs="unbounded" ref="ReindexField"/>
				<xs:element maxOccurs="unbounded" ref="ReindexRow"/>
				<xs:element minOccurs="0" ref="RequestTimeout"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Error">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Success">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TrackLogin">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserName"/>
				<xs:element minOccurs="0" ref="CustomerName"/>
				<xs:element minOccurs="0" ref="SpecifiedUser"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Message">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="UserName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SpecifiedUser">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CustomerName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="GroupName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RetrievalName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RetrievalLabel">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QueryExpression">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="QueryFieldName"/>
				<xs:element ref="QueryOperator"/>
				<xs:element minOccurs="0" ref="QueryValue1"/>
				<xs:element minOccurs="0" ref="QueryValue2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryFieldName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QueryOperator">
		<xs:complexType>
			<xs:attribute name="Operator" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="IsNull"/>
						<xs:enumeration value="DateLastWeek"/>
						<xs:enumeration value="DateThisQuarter"/>
						<xs:enumeration value="NotLike"/>
						<xs:enumeration value="InRange"/>
						<xs:enumeration value="LessThanEqual"/>
						<xs:enumeration value="DateThisMonth"/>
						<xs:enumeration value="NotInRange"/>
						<xs:enumeration value="GreaterThan"/>
						<xs:enumeration value="NotNull"/>
						<xs:enumeration value="GreaterThanEqual"/>
						<xs:enumeration value="DateLastQuarter"/>
						<xs:enumeration value="DateLastMonth"/>
						<xs:enumeration value="DateYesterday"/>
						<xs:enumeration value="DateThisYear"/>
						<xs:enumeration value="DateLastYear"/>
						<xs:enumeration value="Like"/>
						<xs:enumeration value="Equal"/>
						<xs:enumeration value="NotEqual"/>
						<xs:enumeration value="LessThan"/>
						<xs:enumeration value="DateToday"/>
						<xs:enumeration value="DateThisWeek"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryValue1">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QueryValue2">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SearchMode">
		<xs:complexType>
			<xs:attribute name="Mode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="FirstHit"/>
						<xs:enumeration value="CurrentPeriod"/>
						<xs:enumeration value="All"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetNoShows">
		<xs:complexType>
			<xs:attribute name="Value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="True"/>
						<xs:enumeration value="False"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="MaxRows">
		<xs:complexType>
			<xs:attribute name="Value" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UseDisplayFormat">
		<xs:complexType>
			<xs:attribute name="Value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="True"/>
						<xs:enumeration value="False"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="UseFullDocDescriptor">
		<xs:complexType>
			<xs:attribute name="Value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="True"/>
						<xs:enumeration value="False"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SortBy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SortFieldName"/>
				<xs:element ref="SortOrder"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SortFieldName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SortOrder">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PrivateData">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RequestTimeout">
		<xs:complexType>
			<xs:attribute name="Seconds" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConfigSetting">
		<xs:complexType mixed="true">
			<xs:attribute name="Name" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="HitlistRows">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="RetrievalType"/>
				<xs:element maxOccurs="unbounded" ref="IndexField"/>
				<xs:element maxOccurs="unbounded" ref="IndexSet"/>
				<xs:element maxOccurs="unbounded" ref="DisplayOption"/>
				<xs:element ref="DefaultDisplayOption"/>
				<xs:element ref="PartialResults"/>
				<xs:element minOccurs="0" ref="PrivateData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IndexField">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FieldName"/>
				<xs:element ref="FieldLabel"/>
				<xs:element ref="ShowValue"/>
				<xs:element minOccurs="0" ref="ShowForReindex"/>
				<xs:element minOccurs="0" ref="Reindexable"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldName">
		<xs:complexType mixed="true">
			<xs:attribute name="FieldID" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldLabel">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ShowValue">
		<xs:complexType>
			<xs:attribute name="Value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="True"/>
						<xs:enumeration value="False"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShowForReindex">
		<xs:complexType>
			<xs:attribute name="Value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="True"/>
						<xs:enumeration value="False"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Reindexable">
		<xs:complexType>
			<xs:attribute name="Value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="True"/>
						<xs:enumeration value="False"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="IndexSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocDescriptor"/>
				<xs:element maxOccurs="unbounded" ref="IndexValue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IndexValue">
		<xs:complexType mixed="true">
			<xs:attribute name="FieldIDRef" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DisplayOption">
		<xs:complexType>
			<xs:attribute name="Option" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="TEXT"/>
						<xs:enumeration value="HTML"/>
						<xs:enumeration value="PDF"/>
						<xs:enumeration value="AUTO"/>
						<xs:enumeration value="EMAIL"/>
						<xs:enumeration value="REPORTMINE"/>
						<xs:enumeration value="RAW"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultDisplayOption">
		<xs:complexType>
			<xs:attribute name="Option" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="TEXT"/>
						<xs:enumeration value="HTML"/>
						<xs:enumeration value="PDF"/>
						<xs:enumeration value="AUTO"/>
						<xs:enumeration value="REPORTMINE"/>
						<xs:enumeration value="RAW"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartialResults">
		<xs:complexType>
			<xs:attribute name="Value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="True"/>
						<xs:enumeration value="False"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="NoRows">
		<xs:complexType/>
	</xs:element>
	<xs:element name="RetrievalType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RetrievalName"/>
				<xs:element ref="RetrievalLabel"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocDescriptor">
		<xs:complexType>
			<xs:attribute name="Value" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReturnFilename">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="LeaveOnDisk"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LeaveOnDisk">
		<xs:complexType>
			<xs:attribute name="Minutes" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GenerateAnnotations">
		<xs:complexType>
			<xs:attribute name="Value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="True"/>
						<xs:enumeration value="False"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="GenerateBookmarks">
		<xs:complexType>
			<xs:attribute name="Value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="True"/>
						<xs:enumeration value="False"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Linearize">
		<xs:complexType>
			<xs:attribute name="Value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="True"/>
						<xs:enumeration value="False"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="UsePreprintedForm">
		<xs:complexType>
			<xs:attribute name="Value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="True"/>
						<xs:enumeration value="False"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AcrobatVersion">
		<xs:complexType>
			<xs:attribute name="Value" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AuditText">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="VirtualPath">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FileName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FileSizeBytes">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RodanID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DocumentLength">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ContentType">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ConvertTiffToPDF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DocImportIndexValue">
		<xs:complexType mixed="true">
			<xs:attribute name="IndexName" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReindexRow">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocDescriptor"/>
				<xs:element ref="OldIndexSet"/>
				<xs:element ref="NewIndexSet"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReindexField">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FieldName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OldIndexSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="IndexValue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NewIndexSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="IndexValue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReindexResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element maxOccurs="unbounded" ref="ReindexRowResponse"/>
				<xs:element ref="Error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReindexRowResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocDescriptor"/>
				<xs:choice>
					<xs:element ref="Success"/>
					<xs:element ref="Error"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>